<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="news-nav">

        </div>
    </div>
    <div class="row pl-4 animated rotateInDownLeft">
        <div class="col-md-12 grey lighten-2 slant z-depth-2">
            <a class="display-2 font-sanchez ml-4 pl-4 align-bottom breakout"><strong>NOTE THE NEWS</strong></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="articles-div">

        </div>
        <div class="col-md-4" id="notes-div">

        </div>
    </div>
</div>